# MySQL database server configuration file.

[client]
port        = 3306
socket      = /home/container/run/mysqld/mysqld.sock

[mysqld_safe]
socket      = /home/container/run/mysqld/mysqld.sock
nice        = 0

[mysqld]
pid-file    = /home/container/run/mysqld/mysqld.pid
socket      = /home/container/run/mysqld/mysqld.sock
port        = 3306
basedir     = /usr
datadir     = /home/container/mysql
tmpdir      = /tmp
lc_messages_dir = /usr/share/mysql
lc_messages = en_US
skip-external-locking
bind-address = 0.0.0.0

# Include all files in the /etc/mysql/conf.d/ directory
!includedir /etc/mysql/conf.d/